




.container-nav{
    background-color: rgba(254, 156, 86, 1);
    background-color: rgba(255, 85, 102, 1);
    background-color: rgb(226, 226, 226);
}


.estructura-Navbar{
    max-width: 1300px;
    align-items: center;
    height: 80px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}


.estructura-Navbar div p{

    /* -webkit-text-stroke: 0.4px rgb(27, 27, 27); */
    color: transparent; 
    color: white;
    color: rgba(255, 85, 102, 1);
    font-size: 36px;
    font-weight: 600;
    font-family:Arial, Helvetica, sans-serif;
}


.estructura-Navbar ul a{
    text-decoration: none;
    margin: 0 10px;
    color: white;
    color: var(--color-titulos);
    font-size: 22px;
    font-weight: 500;
    
}

.navbar-right{
    display: flex;
}

.navbar-right div{
    display: flex;
    align-items: center;
    justify-items: center;
    margin-left: 15px;
}

.carrito{
  
}