

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --our-color:rgba(255, 85, 102, 1);
    --main-color: rgb(67, 67, 255);
    --color-titulos: #19264a; 
    --verde: rgb(41, 216, 132);
    --rojo: rgb(255, 68, 31);}